[submodule "InputPlumber"]
	path = InputPlumber
	url = https://github.com/ShadowBlip/InputPlumber.git
	branch = main
[submodule "zbus"]
	path = zbus
	url = https://github.com/jackpot51/zbus.git
	branch = main
